* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

#root {
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: #333333;

}

.container {
  background-color: #DBDBDB;
  width: 26%;
  height: 600px;
  text-align: center;
  margin-block: auto;
  border-radius: 10px;

}

h1 {
  color: black;
  font-size: 2rem;
  padding-block: 1rem;
}


input {
  width: 270px;
  height: 35px;
  padding-inline: 10px;
  margin-block: 1rem;
  border: 2px solid black;
  border-radius: 10px;
}

input:focus {
  background-color: black;
  color: white;
  font-size: 1.1rem;
  font-weight: 500;
}

button {
  margin-left: 6px;
  height: 35px;
  padding: 8px;
  cursor: pointer;
}

button:hover {
  background-color: green;
  border: 2px solid white;
  border-radius: 5px;
}

.addedContainer {
  text-align: left;
  margin-left: 45px;
  font-size: 1.6rem;
  margin-top: 1rem;
}

.addedItems {
  display: flex;
  flex-direction: row;
}

.addedContainer li {
  padding-bottom: 8px;
}

.fa-circle-xmark {
  padding-right: 12px;
}

.fa-circle-xmark:hover {
  color: red;

}

#alertMessage {
  color: red;
}